.clients {
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;

}

.clients__container {
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
}

.clients__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    
}

 .clients__item {
     display: flex;
     width: 170px;
     height: 92px;
     border: 1px polid red;
     justify-content: center;
     align-items: center;


 }

  .clients__link {
      padding: 15px 32px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      transition: 250ms var(--animation-timing);

  }

   .clients__link:hover,
   .clients__link:focus {
       border-color: #2196F3;

   }

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
    fill: var(--logo-color);
}

.clients__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 94px;
}

 .clients__logo {
     fill: var(--border-logo);
     transition: 250ms var(--animation-timing);
 }

  .clients__logo:hover,
  .clients__logo:focus {
      fill: var(--logo-color);
  }