.menu__item {
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.header__nav {
    display: flex;
    
}

.menu__link {
    display: flex;
    position: relative;
    transition: 250ms var(--animation-timing);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-gray-text);
    text-decoration: none;
    font-weight: 500;
    
    }
        

.current::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: -33px;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color);
    transition: opacity 250ms var(--animation-timing);
    border-radius: 2px;
}

.menu__link:hover::after {
        opacity: 1;
}

.menu__link:hover, 
.menu__link:focus{
    color: var(--logo-color);
    transition: 250ms var(--animation-timing);
}

.menu {
    display: flex;
    text-decoration: none;
    padding-left: 0;
    align-items: center;
    margin-right: 315px;
    }
.list-contact {
    margin: 0;
}    

  

.menu__link .current {
    color: var(--logo-color);
    
}

.menu .link:hover,
.menu .link:focus {
    transition: 250ms var(--animation-timing ); 
}

.mail, .smartphone {
    fill: currentColor;
    padding-right: 10px;
}

.icon-phone {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items:center;
    
}
.icon-mail {
    display: inline-flex;
    margin-right: 10px;
   
   

}
.icon-smartphone {
    margin-right: 10px;
}
.icon-contact {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}