.hero {
    background-color: var(--background-dark-color);
    display: flex; 
    height: 600px;
    max-width: 1600px; 
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}

.hero__title {
    
        
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-transform: uppercase;
        color: var(--primary-white-color);
        padding-top: 200px;
        padding-bottom: 30px;
        width: 700px;
        

}

.hero__container {
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}
 .hero__overlay {
    margin-left: auto;
    margin-right: auto;
} 

.hero__button {cursor: pointer;
    transition: 250ms var(--animation-timing);}

    .hero__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color: var(--primary-white-color);
        background-color: var(--logo-color);
        margin-bottom: 200px;
        border-radius: 4px;
        border: none;
        padding: 10px 32px;
        letter-spacing: 0.06em;
        font-family: inherit;
     }    

     .hero__button:hover,
     .hero__button:focus { 
     color: var(--primary-white-color);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     }     